$background-color: #141422;
$circle-color: #44e;
$circle-diameter: 200px;

html,body {
  background: $background-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 400px;
}

@keyframes heyo {
 0%, 75%, 100% {
  transform: translate3d(0,0,0);
 } 
 25% {
  transform: translate3d(-100px,0,-100px);
 },
 50% {
  transform: translate3d(100px,0,-100px);
 }
}

.circle {
  position: absolute;
  left: calc(50% - #{$circle-diameter/2});
  top: calc(50% - #{$circle-diameter/2});
  background: $circle-color;
  width: $circle-diameter;
  height: $circle-diameter;
  border-radius: 50%;
  animation: heyo 2s infinite;
  transform-style: preserve-3d;
}
