$margin-bottom: 6px

$panel-color: lighten(#3244dd, 18)
$panel-color-2: $panel-color + #700000 - #036
$panel-height: 0.5 * $synth-height - 2 * $margin-bottom
$panel-width: $synth-width

$knob-size: 21px
$knob-color: #141422
$osc-knob-spacing: 16px

$tube-length: 130px
$tube-width: 18px

$button-color: rgba(255,255,255,0.3)
$button-hover-color: rgba(255,255,255,0.35)
$button-pressed-color: rgba(255,255,255,0.15)

@mixin background-transition
  transition: background 0.15s ease-out

.panel
  position: relative
  background: linear-gradient(to right, $panel-color, $panel-color-2)
  height: $panel-height
  width: $panel-width
  box-sizing: border-box
  overflow: hidden
  margin-bottom: $margin-bottom
  padding: 0 20px

  > div
    position: relative
    display: inline-block
    vertical-align: top
    margin: 8px 5px

  h1
    text-align: center
    color: #f8f8f8
    font-size: 13px
    font-weight: 400
    margin: 0
    padding: 10px 0

  h2
    height: 0px !important
    background: none !important
    text-align: center
    color: #f8f8f8
    font-size: 9px
    font-weight: 400

  .info
    visibility: hidden
    opacity: 0
    transition: visibility 0.1s, opacity 0.1s ease-out
    position: absolute
    top: 20px
    right: 0
    bottom: 0
    left: 0
    padding: 40px
    margin: auto
    background: rgba(255,255,255,0.88)
    text-align: center
    width: 150px
    height: 13px
    overflow: hidden
    border-radius: 5px
    h1
      color: #444
      font-size: 15px
      padding: 0

  .oscillator
    &.off
      opacity: 0.34

    h1
      cursor: pointer

    .main
      display: inline-block
      width: 100px
      overflow: hidden

    .quadbutton
      overflow: hidden
      border-radius: 4px
      width: 100px
      height: 100px
      display: inline-block
      color: #eee
      .button
        width: 50px
        height: 50px
        display: block
        float: left
        @include background-transition
        background: $button-color
        &:hover
          background: $button-hover-color
        &.pressed
          background: $button-pressed-color !important

    .vertical
      display: inline-block
      position: relative
      top: -4px
      margin-left: 13px
      width: 40px
      h2
        position: relative
        right: 3px
      .knob
        margin-top: 2px
        margin-bottom: 0

  .knobs
    width: 100px
    overflow: hidden

  .knob
    cursor: ns-resize
    &.hidden
      visibility: hidden !important

  .knob, h2
    display: inline-block
    margin: 4px 4px 0 8px
    width: $knob-size
    height: $knob-size
    border-radius: 50%
    background: $button-color
    @include background-transition
    &:hover
      background: $button-hover-color
    &:not(&:nth-child(3n))
      margin-right: $osc-knob-spacing
    &:active:not(h2):before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      cursor: ns-resize
      z-index: 3

    .liquid
      background: rgba(255,255,255,0.35)
      width: $knob-size
      height: $knob-size
      border-radius: 50%
      &.negative
        background: rgba(0,0,0,0.35);
        
  .tube
    position: relative
    overflow: hidden
    height: $tube-length
    width: $tube-width
    background: $button-color
    border-radius: 2px
    transition: width 0.06s ease-in-out
    &:hover
      width: $tube-width + 4px
    .liquid
      position: absolute
      top: 100%
      bottom: 0
      left: 0
      right: 0
      height: 100%
      background: $button-hover-color
      border-radius: 4px
      border-top: 4px solid $button-hover-color

  .volume
    display: inline-block
    float: right
    width: 50px
    height: 0.9 * $panel-height
    border-radius: 2px
    .tube
      margin: auto

  .effects, .amp
    .knobs
      margin: 0 5px
      width: 90px
    .knob, h2
      &:nth-child(2n-1)
        margin-right: $osc-knob-spacing
