extends layout

block content
  mixin octave
    .octave
      .white
      .black
      .white
      .black
      .white
      .white
      .black
      .white
      .black
      .white
      .black
      .white

  .synth
    .panel
      .knob
    .octaves
      +octave
      +octave
